body {
    font-family: monospace;
    background-color: black;
}
.fontes {
    font-family: 'Times New Roman', Times, sans-serif;
    color: whitesmoke;
    height: 50px;
    font-size: 30px;
    background-color: rgb(0, 0, 139);
    }
    .nome{
    width: 2px
      
}
 h2 {
     background-color: rgb(0, 0, 139);
     color: white
 }
 ul li {
     color: white;
     font-size: 15px;
     
      }